**/.idea
**/.pytest_cache
/venv
data/Settings.py
**/__pycache__/
driver/
playwright/driver/
playwright.egg-info/
build/
dist/
**/*.pyc
env/
.env
htmlcov/
.coverage*
.DS_Store
.vscode/
.eggs
_repo_version.py
coverage.xml
junit/
htmldocs/
utils/docker/dist/

